<!DOCTYPE html>
<html>

<head>
  <title>Taco Recipes</title>
  <link rel="stylesheet" type="text/css" href="../public/styles/main.css">
</head>

<body>
  <!-- Tytle -->
  <div id="tytle">
    <img src="../assets/guitar.png" id="guitar">
    <h1>Karaoke Lyrics Finder</h1>
  </div>

  <!-- input form -->
  <form action="/find" method="POST" class="form">
    <input type="text" id="authorInput" name="author" class="input">
    <input type="text" id="tytleInput" name="tytle" class="input">
    <button type="submit" value="submit"></button>
  </form>

  <!-- error message -->
  <div id="errorMessage" class="hidden">

  </div>

  <!-- footer -->
  <p class="footer">Samantha Wang 2025 (c), contact at: yuhanwang-inaus@hotmail.com</p>
</body>

</html>