<!DOCTYPE html>
<html>

<head>
  <title>Karaoke Lyics Finder</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <!-- Tytle -->
  <div id="tytle">
    <img src="../assets/guitar.png" id="guitar">
    <h1>Karaoke Lyrics Finder</h1>
  </div>

  <!-- input form -->
  <form action="/find" method="POST" class="form">
    <input type="text" id="authorInput" name="author" class="input">
    <input type="text" id="tytleInput" name="tytle" class="input">
    <button type="submit" value="submit"></button>
    <!-- error message -->
    <% if (notFound) { %>
      <p>Song not found, check typo or change a song!</p>
    <% } %>
  </form>

  

  <!-- footer -->
  <p class="footer">Samantha Wang <%= new Date().getFullYear() %> ©, contact at: yuhanwang-inaus@hotmail.com</p>
</body>

</html>