<!DOCTYPE html>
<html>

<head>
  <title>Karaoke Lyics Finder</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <pre class="lyrics"><%= lyrics %></pre>

  <!-- footer -->
  <p class="footer">Samantha Wang <%= new Date().getFullYear() %> ©, contact at: yuhanwang-inaus@hotmail.com</p>
</body>

</html>