html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 7vh;
  padding: 0;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat; 
  text-align: center;
}

h1 {
  display: inline;
  font-size: 11vh;
  color: #F4A3FE;
  text-align: left;
}

@media (max-width: 767px) and (min-width: 0px){
  #tytle{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  h1{
    text-align: center;
    font-size: 10vh;
  }
  .lyrics{
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */

  position: absolute;
  top: 10vh;
  left: 30vw;
  color: whitesmoke;
}
}
@media (min-width: 786px){
  #tytle{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  }
  .form{
    margin-top: 5vh;
  }
  .lyrics{
  max-height: 60vh;
  max-width: 30vw;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */

  position: absolute;
  top: 10vh;
  left: 70vw;
  color: whitesmoke;
}
.lyrics::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
}
#guitar{
    height: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 40vw;

  position: absolute;
  left: 30vw; 
}

.input{
  height: 4vh;
}

.form button:hover {
  transform: scale(1.05);
}

.form button{
  background-image: url("../../assets/button.png");
  background-size: cover;
  background-position: center;
  height: 5vh;
  width: 10vw;
}

p{
  color: #56c1fe;
}

.footer{
  position: absolute;
  bottom: 2vh;
  color: rgb(235, 226, 240);
  font-size: 0.7rem;
}
